/*Variables*/
$font-one: 'Noto Serif',
serif;
$font-two: 'Montserrat',
sans-serif;
$font-three: 'Roboto Slab',
serif;
$font-four: 'Pacifico',
cursive;
/*logo*/

$color-one: #777;
$color-two: #fed136;
$color-three: #f7f7f7;

/*Global*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-one;
    color: $color-one;
}

section {
    padding: 96px 0;
}

.section-title {
    font-family: $font-two;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0 0 20px 0;
}

.section-subtitle {
    font-family: $font-one;
    font-size: 16px;
    text-align: center;
    margin: 0 0 80px 0;
}

/*Splash*/
.splash {
    background-image: url("../images/splash-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    .navbar {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        .navbar-brand {
            text-decoration: none;
            font-family: $font-four;
            color: $color-two;
            font-size: 26px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                display: inline-block;
                margin-right: 36px;

                a {
                    text-decoration: none;
                    font-family: $font-two;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }

    .splash-inner {
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .page-subtitle {
            font-family: $font-one;
            font-size: 40px;
            margin: 0 auto;
            color: #fff;
        }

        .page-title {
            font-family: $font-two;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 60px;
            margin: 0 auto;
            color: #fff;
        }

        .btn {
            display: inline-block;
            background-color: $color-two;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            font-family: $font-two;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            margin-top: 20px;
            height: 65px;
            width: 240px;
            padding: 20px;
        }

    }
}

.services {
    text-align: center;

    i {
        font-size: 35px;
        line-height: 35px;
        color: $color-two;
        border: 2px solid $color-two;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        padding: 15px;
        display: inline-block;
        margin-bottom: 25px;
    }

    h4 {
        font-family: $font-two;
        color: #000;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 1em;
    }

    p {
        text-align: center;
        font-size: 14px;
        font-family: $font-three;
        padding: 0 15px;
    }
}

.portfolio {
    background-color: $color-three;
    text-align: center;


}

h4 {
    font-family: $font-two;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
}

p {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 80px;
}